<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <a href="http://localhost:3000/applicants/verify?userid=<%=@user.id%>&active_code=<%= @user.active_code%>">Click to be actived</a>
  </body>
</html>